{% extends 'base.html.twig' %}

{% block title %}Inscription à dates courtes
{% endblock %}

{% block header %}
	{% include "partials/header.html.twig" %}
{% endblock %}

{% block body %}

	<h1 class="nav-svg">Créer un compte</h1>

	<section id="register" class="mt-6" style="margin: auto;">


		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.firstName) }}
			{{ form_widget(form.firstName) }}
		</div>
		<div class="has-text-centered mt-2 mb-4 error-register">
			{{ form_errors(form.firstName) }}
		</div>

		<div class="form-group">
			{{ form_label(form.lastName) }}
			{{ form_widget(form.lastName) }}
		</div>
		<div class="has-text-centered mt-2 mb-4 error-register">
			{{ form_errors(form.lastName) }}
		</div>

		<div class="form-group">
			{{ form_label(form.email) }}
			{{ form_widget(form.email) }}
		</div>
		<div class="has-text-centered mt-2 mb-4 error-register">
			{{ form_errors(form.email) }}
		</div>

		<div class="form-group">
			{{ form_label(form.password) }}
			{{ form_widget(form.password)}}
		</div>
		<div class="has-text-centered mt-2 mb-4 error-register">
			{{ form_errors(form.password) }}
		</div>

		<div class="form-group">
			{{ form_label(form.passwordConfirm) }}
			{{ form_widget(form.passwordConfirm) }}
		</div>
		<div class="has-text-centered mt-2 mb-4 error-register">
			{{ form_errors(form.passwordConfirm) }}
		</div>
		<div class="mt-5 has-text-centered">
			<button type="submit" class="mt-4 btn-register is-size-6-mobile	">
				S'enregistrer
			</button>
		</div>


		{{ form_end(form) }}

		{% if app.user %}
			<div class="mt-5 has-text-centered">
				<a href="{{ path('app_login') }}" class="fontGrey fontGreyHover">Je suis déjà membre
				</a>
			</div>

		{% endif %}

	</section>

	<script>
		console.log("cocou");

const inputs = document.querySelectorAll('input');

for (let i = 0; i < inputs.length; i++) {

let field = inputs[i];

// Si le form renvoie une erreur il faut que les labels des champs restent au dessus du texte
if (field.value != "") {
field.parentNode.classList.add('animation');
}

// Dès que l'user écrit le label doit passer au dessus
field.addEventListener('input', (e) => { // console.log(e.target.value);
if (e.target.value != "") {
e.target.parentNode.classList.add('animation');
} else if (e.target.value == "") {
e.target.parentNode.classList.remove('animation');
}
});


}
	</script>
{% endblock %}
