{% extends 'base.html.twig' %}

{% block title %}Inscription à Dates Courtes
{% endblock %}


{% block body %}

	{% include "partials/header.html.twig" %}

	<h1 class="nav-svg">Créer un compte</h1>

	<section id="register" class="mt-6">


		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.firstName) }}
			{{ form_widget(form.firstName) }}
		</div>
		<div class="has-text-centered mt-2 mb-4 error-form">
			{{ form_errors(form.firstName) }}
		</div>

		<div class="form-group">
			{{ form_label(form.lastName) }}
			{{ form_widget(form.lastName) }}
		</div>
		<div class="has-text-centered mt-2 mb-4 error-form">
			{{ form_errors(form.lastName) }}
		</div>

		<div class="form-group">
			{{ form_label(form.email) }}
			{{ form_widget(form.email) }}
		</div>
		<div class="has-text-centered mt-2 mb-4 error-form">
			{{ form_errors(form.email) }}
		</div>

		<div class="form-group">
			{{ form_label(form.password) }}
			{{ form_widget(form.password)}}
		</div>
		<div class="has-text-centered mt-2 mb-4 error-form">
			{{ form_errors(form.password) }}
		</div>

		<div class="form-group">
			{{ form_label(form.passwordConfirm) }}
			{{ form_widget(form.passwordConfirm) }}
		</div>
		<div class="has-text-centered mt-2 mb-4 error-form">
			{{ form_errors(form.passwordConfirm) }}
		</div>
		<div class="has-text-centered registration">
			<a href="{{path('app_mentions')}}"  target="_blank" class="fontGrey fontGreyHover">
				{# {{ form_label(form.validate) }} #}
				En s'inscrivant vous acceptez les conditions générales
			</a>
				{{ form_label(form.validate, '' )}}
				{{ form_widget(form.validate) }}

		</div>
		<div class="has-text-centered mt-2 mb-4 error-form">
			{{ form_errors(form.validate) }}
		</div>

	</div>
	<div class="mt-5 has-text-centered">
		<button type="submit" class="mt-4 btn-form is-size-6-mobile">
			S'enregistrer
		</button>
	</div>


	{{ form_end(form) }}

	{% if app.user %}
		<div class="mt-5 has-text-centered">
			<a href="{{ path('app_login') }}" class="fontGrey fontGreyHover">Je suis déjà membre
			</a>
		</div>

	{% endif %}

</section>


{% block javascripts %}
	{{ encore_entry_script_tags('js/app') }}
{% endblock %}{% endblock %}
