{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}

	{% include "partials/header.html.twig" %}

	{% include "partials/nav.html.twig" %}

	<section id="user">
		<h1 class="has-text-centered mt-6 is-size-3">Votre profil</h1>

		<hr>
		<div class="has-text-centered">
			{{ form_start(form) }}
			<h2 class="mb-4 is-size-5">Modifier informations</h2>
			<div class="form-group">
				{{ form_label(form.firstName, 'Prénom') }}
				{{ form_widget(form.firstName) }}
			</div>
			<div class="has-text-centered mt-2 mb-4 error-form">
				{{ form_errors(form.firstName) }}
			</div>
			<div class="form-group my-4">
				{{ form_label(form.lastName, 'Nom') }}
				{{ form_widget(form.lastName) }}
			</div>
			<div class="has-text-centered mt-2 mb-4 error-form">
				{{ form_errors(form.lastName) }}
			</div>
			<div class="form-group mb-4">
				{{ form_label(form.slug, 'Slug') }}
				{{ form_widget(form.slug) }}
			</div>
			<div class="has-text-centered mt-2 mb-4 error-form">
				{{ form_errors(form.slug) }}
			</div>
			<div class="form-group">
				{{ form_label(form.email) }}
				{{ form_widget(form.email) }}
			</div>
			<div class="has-text-centered mt-2 mb-4 error-form">
				{{ form_errors(form.email) }}
			</div>
			<hr>
			<h2 class="mb-4 is-size-5">Modifier mot de passe</h2>
			<div class="form-group">
				{{ form_label(form.password, 'Mot de passe') }}
				{{ form_widget(form.password) }}
			</div>
			<div class="has-text-centered mt-2 mb-4 error-form">
				{{ form_errors(form.password) }}
			</div>
			<div class="form-group">
				{{ form_label(form.passwordConfirm) }}
				{{ form_widget(form.passwordConfirm) }}
			</div>
			<div class="has-text-centered mt-2 mb-4 error-form">
				{{ form_errors(form.passwordConfirm) }}
			</div>
			<hr>

			<button type="submit" class="my-4 btn-form is-size-6-mobile">
				Sauvegarder
			</button>
			{{ form_end(form) }}
		</div>

		<p class="has-text-centered my-4">Vous souhaitez supprimer votre compte ? Faites la demande via le <a href="#" class="fontGrey fontGreyHover">formulaire de contact</a></p>


	</section>


	{% block footer %}
		{% include "partials/footer.html.twig" %}
	{% endblock %}


{% block javascripts %}
	{{ encore_entry_script_tags('js/app') }}
{% endblock %}
{% endblock %}
